:root {
    --dark-blue: #033f57;
    --medium-blue: #026470;
    --dark--turquoise: #009484;
    --medium--turquoise: #02B28D;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

label, #form h4, section h4, .card-title, .card-text {
    color: var(--dark-blue);
}

header.jumbotron {
    padding: 15px;
    background-color: var(--medium-blue);
    color: white;
    margin-bottom: 0;
}

form {
    background-color: rgba(255,255,255,.95);
    border-radius: 8px;
    z-index: 1; /* The z-index should be higher than Google Maps */
}

#button {
    background-color: var(--dark--turquoise);
    border-color: var(--dark--turquoise);
}


#map {
    height: 100%;

}
  /* Optional: Makes the sample page fill the window. */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


#start-point:focus,
#destination:focus {
    border-color: var(--dark--turquoise);
}

#mode-selector {
    visibility: hidden;
    position: absolute;
    left: -200;
}

.facebook_iframe {
    margin-top: 10px;
    margin-left:0
}